@model IEnumerable<demoofuserplans.Models.show>
@{
    ViewBag.Title = "serachApi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>serachApi</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.channel_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.show_name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.channel_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.show_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.channel_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.channel_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.channel_id })
            </td>
        </tr>
    }

</table>
